@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  background-color: #F5F5F5;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.homeaboutus {
  text-align: center;
}

.homeaboutus h2 {
  font-weight: bold;
}

.homeaboutus a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.homeaboutus p{
  margin: 15px 20px 7px 20px;
}

button {
  background-color: #74A884;
  border-radius: 10px;
  width: 100px;
  padding: 5px 15px 5px 15px;
  margin: 0px 0px 10px 0px;
  border: none; 
  cursor: pointer;
}