@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.photo-game {
  max-width: 10000px;
  width: 100%;
  height: 600px;
  max-height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
}


.button-home[href="pages/piano.html"] {
  animation: pulse 1s ease-in-out infinite;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttons-row .button-home {
  width: auto;
}

